.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav{
    display: flex;
}

.nav li{
    padding: 0 1rem;
}

.nav li a{
    font-size: 1.2rem;
    font-weight: 500;
}